:root {
    /* light theme */
    --text-color-light: black;
    --text-color-2-light: hsl(0, 0%, 60%);
    --surface-color-1-light: #fff;
    --surface-color-2-light: hsl(40, 5%, 97%);
    --border-light: gainsboro;

    /* dark theme */
    --text-color-dark: hsl(0, 0%, 93%);
    --text-color-2-dark: hsl(0, 0%, 85%);
    --surface-color-1-dark: hsl(0, 0%, 15%);
    --surface-color-2-dark: hsl(0, 0%, 7%);
    --border-dark: hsl(0, 0%, 20%);



}

* {
    box-sizing: border-box;
}

body {
    --text-color: var(--text-color-light);
    --text-color-2: var(--text-color-2-light);
    --surface-color-1: var(--surface-color-1-light);
    --surface-color-2: var(--surface-color-2-light);
    --border: var(--border-light);
}

body.alter-theme {
    --text-color: var(--text-color-dark);
    --text-color-2: var(--text-color-2-dark);
    --surface-color-1: var(--surface-color-1-dark);
    --surface-color-2: var(--surface-color-2-dark);
    --border: var(--border-dark);
}

.hide-if-light {
    display: none;
}

.hide-if-dark {
    display: block;
}

.alter-theme .hide-if-light {
    display: block;
}

.alter-theme .hide-if-dark {
    display: none;
}

@media (prefers-color-scheme: dark) {

    body {
        --text-color: var(--text-color-dark);
        --text-color-2: var(--text-color-2-dark);
        --surface-color-1: var(--surface-color-1-dark);
        --surface-color-2: var(--surface-color-2-dark);
        --border: var(--border-dark);
    }

    body.alter-theme {
        --text-color: var(--text-color-light);
        --text-color-2: var(--text-color-2-light);
        --surface-color-1: var(--surface-color-1-light);
        --surface-color-2: var(--surface-color-2-light);
        --border: var(--border-light);
    }

    .hide-if-dark {
        display: none
    }

    .hide-if-light {
        display: block;
    }

    .alter-theme .hide-if-light {
        display: none;
    }

    .alter-theme .hide-if-dark {
        display: block;
    }

}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background: var(--surface-color-1);
    margin: 0;
    padding: 0;
}
