:root {
    font-size: 14px;
    --margin: 12px;
    --gap: 14px;
}

@media (min-width: 550px) {
    :root {
        --margin: 24px;
        --gap: 16px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background: var(--surface-color-2);
}

h1 {
    margin-bottom: 0.75em;
}

h2 {
    margin-bottom: 0.75em;
}
